



 .header {
  background: white;
  box-shadow: 0px 4px 100px rgba(102, 122, 131, 0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 84px;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 100%;
  padding: 16px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon img {
  width: 100%;
  height: 100%;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
  color: #340E0E;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  font-size: 16px;
  font-weight: 400;
  color: #233A41;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

}

.nav-item:hover {
  color: #2FC980;
}

.dropdown-icon {
  width: 18px;
  height: 18px;
}

@media (max-width: 1024px) {
  .nav {
    gap: 20px;
  }
  
  .nav-item {
    font-size: 14px;
  }
}



@media (max-width: 768px) {
  .header-content {
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .nav {
    display: none;
  }
  
  .btn {
    padding: 10px 16px;
    font-size: 14px;
  }
}

